<mat-card class="card">
  <mat-grid-list cols="5" rowHeight="40px">
    <mat-grid-tile
      class="selector"
      *ngFor="let planet of planets;"
      (click)="openPlanetInfo(planet)"
    >
      {{planet.name}}
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-card class="card" *ngIf="planetSelect">
  <h1>{{planetInfo.name}}</h1>
  <h2>Residents</h2>
  <mat-grid-list cols="4" rowHeight="40px">
    <div *ngIf="planetInfo.residents">
      <mat-grid-tile
        *ngFor="let resident of characters">
        <span *ngIf="characters">{{resident}}</span>
      </mat-grid-tile>
    </div>
    <div *ngIf="!planetInfo.residents.length">
      <p>NO DATA AVAILABLE</p>
    </div>
  </mat-grid-list>
  <h2>Terrain</h2>
  <p>{{planetInfo.terrain.toUpperCase()}}</p>
  <h2>Climate</h2>
  <p>{{planetInfo.climate.toUpperCase()}}</p>
</mat-card>
